In [1]:
from fastai2.tabular.all import *

In [2]:
%%javascript
$('.nbp-app-bar').toggle()

In [4]:
path = untar_data(URLs.ADULT_SAMPLE)
Path.BASE_PATH = path
path.ls()

(#3) [Path('export.pkl'),Path('adult.csv'),Path('models')]

In [5]:
df = pd.read_csv(path/'adult.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [10]:
df.isna().sum()

age                 0
workclass           0
fnlwgt              0
education           0
education-num     487
marital-status      0
occupation        512
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country      0
salary              0
dtype: int64

---

## Tabular Pandas

`fastai2` has a new way of dealing with tabular data in a `TabularPandas` object. It expects some dataframe, some `procs`, `cat_names`, `cont_names`, `y_names`, `y_block`, and some splits.

In [11]:
cont_cat_split??

In [7]:
# fastai has a convenience function to split our features in categorical and continuous
cont_vars, cat_vars = cont_cat_split(df, 1, dep_var='salary')

When we pre-process tabular data, `fastai2` we do one or more of three transforms:
* `Categorify`
* `FillMissing`
* `Normalize`

### Categorify

In [8]:
cat = Categorify()

In [13]:
to = TabularPandas(df, cat, cat_vars)

In [18]:
to.procs

Pipeline: Categorify

In [14]:
cats = to.procs.categorify

In [15]:
cats

Categorify: (object,object) -> encodes (object,object) -> decodes

In [16]:
cats.classes

{'workclass': (#10) ['#na#',' ?',' Federal-gov',' Local-gov',' Never-worked',' Private',' Self-emp-inc',' Self-emp-not-inc',' State-gov',' Without-pay'],
 'education': (#17) ['#na#',' 10th',' 11th',' 12th',' 1st-4th',' 5th-6th',' 7th-8th',' 9th',' Assoc-acdm',' Assoc-voc'...],
 'marital-status': (#8) ['#na#',' Divorced',' Married-AF-spouse',' Married-civ-spouse',' Married-spouse-absent',' Never-married',' Separated',' Widowed'],
 'occupation': (#16) ['#na#',' ?',' Adm-clerical',' Armed-Forces',' Craft-repair',' Exec-managerial',' Farming-fishing',' Handlers-cleaners',' Machine-op-inspct',' Other-service'...],
 'relationship': (#7) ['#na#',' Husband',' Not-in-family',' Other-relative',' Own-child',' Unmarried',' Wife'],
 'race': (#6) ['#na#',' Amer-Indian-Eskimo',' Asian-Pac-Islander',' Black',' Other',' White'],
 'sex': (#3) ['#na#',' Female',' Male'],
 'native-country': (#43) ['#na#',' ?',' Cambodia',' Canada',' China',' Columbia',' Cuba',' Dominican-Republic',' Ecuador',' El-Salvador'...]}

In [17]:
cats['race']

(#6) ['#na#',' Amer-Indian-Eskimo',' Asian-Pac-Islander',' Black',' Other',' White']

In [19]:
to.cats.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,5,8,3,0,6,5,1,40
1,5,13,1,5,2,5,2,40
2,5,12,1,0,5,3,1,40
3,6,15,3,11,1,2,2,40
4,7,6,3,9,6,3,1,40

In [22]:
splits = RandomSplitter()(range_of(df))
splits

((#26049) [12804,29268,26927,11402,13118,18365,4289,16308,25062,13240...],
 (#6512) [23623,27484,2459,11248,24252,9684,25268,19387,14203,14311...])